body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#library {
    padding: 30px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60vw;
    gap: 30px;
} 

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    background-color: azure;
    padding: 30px;
}
/* ---------------------header---------------- */
header {
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    align-items: center;
}

header h1 {
    flex: 1;
}
header img {
    height: 3.5em;
}

/* -----------------modal------------------ */
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
  }
  
  .overlay.active {
    display: block;
  }