/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: start;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    height: 100vh;
}

#library {
    padding: 30px 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 70vw;
    gap: 50px;
} 

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FFF7E8;
    padding: 30px;
    border: 1px solid #FFD88F;
    border-radius: 12px;
    border-left: 10px solid #59A1A5;
    border-top: 2px solid #59A1A5;
    border-bottom: 2px solid #59A1A5;
}

/* ---------------------header---------------- */
header {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #FF7893;
    /* background-color: whitesmoke; */
}

header h1 {
    flex: 1;
    font-size: 2.6em;
    padding-left: 30px;
   
}

header img {
    height: 2.6em;
}

header button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items:  center; */
  font-size: 26px;
  border: none;
}

header button img {
  height: 1em;
  align-self: flex-end;
}


/* -----------------modal------------------ */
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 30px;
    border-radius: 6px;
    background-color: whitesmoke;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    font-size: 22px;
    border: 1px solid #59A1A5;
  }
  
  .modal img {
    height: 40px;
    align-self: center;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .add-book-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .radio-container {
    display: flex;
    justify-content: space-around;
  }

  .radio-div {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
  }
  
  .overlay.active {
    display: block;
  }

  input {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 6px;
  }

  button[type="submit"] {
    height: 40px;
    font-size: 22px;
  }

  /* ---------------footer------------- */

  footer {
    display: flex;
    padding: 30px;
    border-top: 1px solid #FF7893;
    font-size: 20px;
    justify-content: center;
    /* background-color: whitesmoke; */
  }